/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* utility */
.margin-top {
    margin-top: 10px;
}

.c-yellow {
    color:#ffff00 ;
}

.c-green{
    color: #008000;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header{
    width: 100%;
    position: fixed;
    text-align: right;
}

.menu {
    display: inline-block;
    list-style: none;
}

.menu li {
    display: inline-block;
}


.menu li a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: #000;
    font-size: 20px;
}

.box {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding: 2px 0;
    background-color: #fff;
}

.menu .box:hover{
    background-color: #48cae4;
}

/* main */
.section1 {
    background: #ff0000;
    height: 100vh;
}

.section2 {
    background: #008000;
    height: 100vh;
}

.section3 {
    background: #ffff00;
    height: 100vh;
}


.img-main {
   width: 50%;
   margin:  0 auto;
}

.img-main img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.text-main {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}